/*-------------------------------------------
	共通部分
  -------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000000;
}

/*-------------------------------------------
  ページ全体
  -------------------------------------------*/
.page-wrapper {
  width: 100%;
  padding: 0 40px;
  max-width: 1280px;
  margin: 0 auto;
}

/*-------------------------------------------
  メインコンテンツ
  -------------------------------------------*/
.main-content {
  display: flex;
  flex-direction: column;
  gap: 120px;
}

/*-------------------------------------------
  これより下にコードを追加してください。
  -------------------------------------------*/
/*-------------------------------------------
  ヘッダー
  -------------------------------------------*/
.header{
  display: flex;
  justify-content: space-between;
}
.header ul{
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.header li:hover{
  opacity: 0.7;
}

/*-------------------------------------------
  メインビジュアル
  -------------------------------------------*/
.mainvisual{
  width: 100%;
  height: 640px;
  border-radius: 16px;
  object-fit: cover;
}

/*-------------------------------------------
  セクション 共通部分
  -------------------------------------------*/
.section{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.section-title{
  border-bottom: black 1px solid;
}

/* -------------------------------------------
  プロフィール
  -------------------------------------------*/
.profile{
  display: flex;
  gap: 40px;
  align-items: center;
}
.profile-image{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.profile-text{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* -------------------------------------------
  記事
  -------------------------------------------*/
.articles{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px 16px;
}
.article{
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.article-image{
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/*-------------------------------------------
  フッター
  -------------------------------------------*/
.footer{
  font-size: small;
  padding: 40px 0;
  text-align: center;
}